body {
  background-color: #f6f2eb;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 8;
}

h1 {
  font-family: 'Helvetica', sans-serif;
  color: #6b9080;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  font-weight: 400;
  color: #6b9080;
}

p {
  margin-bottom: 20px;
}

a {
 text-decoration: #6c757d;
}

a:hover {
  color: #344e41;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.card {
  text-align: center;
  border-radius: 5px;
  background: white;
  padding: 20px;
  box-shadow: 3px 3px 3px #e0e1dd ;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}

.list-inline{
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline i {
  color: #000814;
  font-size: 30px;
}

.list-inline i:hover {
  color: #6c757d;
  font-size: 50px;
}

.img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn{
  background: #6b9080;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
